---
const user = Astro.locals.user as unknown as UsuarioModel;

import WrapperAdmin from '../components/react/admin/WrapperAdmin'
import GlobalStyles from '../components/GlobalStyles.astro'
import type { UsuarioModel } from '../types/usuario.type'
import Dashboard from '../components/Dashboard'
// const xxx : UsuarioModel = (Astro?.locals?.user!) as unknown as UsuarioModel
// user.
// const user: UsuarioModel = {
//   id: 1,
//   nombre: "John",
//   apellidos: "Doe",
//   password: "secreto",
//   correo: "john.doe@example.com",
//   nombreUsuario: "johndoe",
//   Imagen: "perfil.jpg",
//   RolFK: 2,
//   is_deleted: 0
// };

---
<WrapperAdmin 
        user={user}
        client:only
    >
    <GlobalStyles/>
        <Dashboard
        client:only
        />
        <div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%] p-10">
            <slot/>
        </div>
    </WrapperAdmin>