---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import ProductosSlider from '../components/react/ProductosSlider'
import Bento from '../components/Bento.astro'
import Bento2 from '../components/Bento2.astro'
import Container from '../components/Container.astro'
import { API } from "../api";
import { BasicResponse } from "../types/API";
import { Producto } from "../types/Productos";

const response = await fetch(`${API.dataUrl}/pages/index`, {
    method: 'GET'
});

type IndexPage = {
  celulares: Producto[]
  laptops: Producto[]
}
const { data }: BasicResponse<IndexPage> = await response.json();
---


<GlobalStyles />
<NavBar />
<Hero />
<main class="">
    <!-- <pre>
      {
        JSON.stringify( data , null , 3)
      }
    </pre> -->
    <Container>
        <div
        class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
      >
        <div class="grid row-gap-8 sm:row-gap-0 sm:grid-cols-2 lg:grid-cols-3">
          <div class="p-8 sm:border-r">
            <div class="max-w-md text-center">
              <div
                class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-16 sm:h-16"
              >
                <svg
                  class="w-8 h-8 text-deep-purple-accent-400 sm:w-12 sm:h-12"
                  stroke="currentColor"
                  viewBox="0 0 52 52"
                >
                  <polygon
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    fill="none"
                    points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </div>
              <h6 class="mb-2 font-semibold leading-5">The quick fox</h6>
              <p class="mb-3 text-sm text-gray-900">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium rem aperiam, eaque ipsa quae. Sit error voluptatem.
              </p>
            </div>
          </div>
          <div class="p-8 lg:border-r">
            <div class="max-w-md text-center">
              <div
                class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-16 sm:h-16"
              >
                <svg
                  class="w-8 h-8 text-deep-purple-accent-400 sm:w-12 sm:h-12"
                  stroke="currentColor"
                  viewBox="0 0 52 52"
                >
                  <polygon
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    fill="none"
                    points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </div>
              <h6 class="mb-2 font-semibold leading-5">Leverage agile</h6>
              <p class="mb-3 text-sm text-gray-900">
                Storage shed, troughs feed bale manure, is garden wheat oats at
                augers. Bulls at rose garden cucumbers mice sunflower wheat in pig.
              </p>
            </div>
          </div>
          <div class="p-8 sm:border-r lg:border-r-0">
            <div class="max-w-md text-center">
              <div
                class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-16 sm:h-16"
              >
                <svg
                  class="w-8 h-8 text-deep-purple-accent-400 sm:w-12 sm:h-12"
                  stroke="currentColor"
                  viewBox="0 0 52 52"
                >
                  <polygon
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    fill="none"
                    points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </div>
              <h6 class="mb-2 font-semibold leading-5">Organically grow</h6>
              <p class="mb-3 text-sm text-gray-900">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium rem aperiam, eaque ipsa quae. Sit error voluptatem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </Container>

  <Bento  />

  <Container classes="pt-14">
    <ProductosSlider
        client:load
        productos={data.celulares}
    />
  </Container>

  <Container classes="pt-7">
    <Bento2/>
  </Container>

  <Container classes="pt-7">
    <ProductosSlider
        client:load
        productos={data.laptops}
    />
  </Container>

  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="max-w-lg sm:text-center sm:mx-auto">
      <a href="/" aria-label="Go Home" title="Logo" class="inline-block mb-4">
        <div class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50">
          <svg class="w-10 h-10 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
      </a>
      <h2 class="mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
        <span class="relative inline-block">
          <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-32 lg:-mt-10 sm:block">
            <defs>
              <pattern id="6b0188f3-b7a1-4e9b-b95e-cad916bb3042" x="0" y="0" width=".135" height=".30">
                <circle cx="1" cy="1" r=".7"></circle>
              </pattern>
            </defs>
            <rect fill="url(#6b0188f3-b7a1-4e9b-b95e-cad916bb3042)" width="52" height="24"></rect>
          </svg>
          <span class="relative bg-white">The</span>
        </span>
        quick, brown fox jumps over a lazy dog
      </h2>
      <p class="text-base text-gray-700 md:text-lg">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
      </p>
      <hr class="my-8 border-gray-300" />
      <div class="flex items-center mb-3 sm:justify-center">
        <a href="/" class="mr-3 transition duration-300 hover:shadow-lg">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/1000px-Download_on_the_App_Store_Badge.svg.png" class="object-cover object-top w-32 mx-auto" alt="" />
        </a>
        <a href="/" class="transition duration-300 hover:shadow-lg">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/1000px-Google_Play_Store_badge_EN.svg.png" class="object-cover object-top w-32 mx-auto" alt="" />
        </a>
      </div>
      <p class="max-w-xs text-xs text-gray-600 sm:text-sm sm:max-w-sm sm:mx-auto">
        Sed ut unde omnis iste natus accusantium doloremque laudantium omnis iste.
      </p>
    </div>
  </div>

</main>

<Footer />



