---
import ProductosSlider from '../components/react/ProductosSlider'
import GlobalStyles from "../components/GlobalStyles.astro"
import BlogSection from '../components/BlogSection.astro'
import MetodosPago from '../components/MetodosPago.astro'
import MetodosPago1 from '../components/MetodosPago1.astro'
import Container from '../components/Container.astro'
import NavBar from "../components/NavBar.astro"
import Footer from "../components/Footer.astro"
import Bento2 from '../components/Bento2.astro'
import Bento from '../components/Bento.astro'
import Hero from "../components/Hero.astro"
import { API } from "../api";

import { type BasicResponse } from "../types/API";
import { type Producto } from "../types/Productos";

const response = await fetch(`${API.dataUrl}/pages/index`, {
    method: 'GET'
});

type IndexPage = {
  celulares: Producto[]
  audifonos: Producto[]
  laptops: Producto[]
}
const { data }: BasicResponse<IndexPage> = await response.json();
---


<GlobalStyles />
<NavBar />
<Hero />
<main class="">
    <!-- <pre>
      {
        JSON.stringify( data , null , 3)
      }
    </pre> -->
    
  <MetodosPago/>

  <Bento  />

  <Container classes="pt-14">
    <ProductosSlider
        client:load
        titulo="Celulares"
        productos={data.celulares}
    />
  </Container>

  <Container classes="pt-7">
    <Bento2/>
  </Container>

  <Container classes="pt-7">
    <ProductosSlider
        client:load
        titulo="Laptops"
        productos={data.laptops}
    />
  </Container>

  <Container classes='my-8'>
     <div class="h-64 rounded-md overflow-hidden bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1577655197620-704858b270ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1280&q=144')">
            <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                <div class="px-10 max-w-xl">
                    <h2 class="text-2xl text-white font-semibold">Tenis Jezzy</h2>
                    <button class="flex items-center mt-4 px-3 py-2 bg-alibabeto-1 text-white text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                        <span>Ver Ahora</span>
                        <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                    </button>
                </div>
            </div>
        </div>
  </Container>

  <Container classes="mt-8 mb-14">
    <ProductosSlider
        client:load
        titulo="Audifonos"
        productos={data.audifonos}
    />
  </Container>

  <Container>
    <MetodosPago1/>
  </Container>

  <section class="bg-[#013695] dark:bg-gray-900">
    <div class="container px-4 py-16 mx-auto lg:flex lg:items-center lg:justify-between">
        <h2 class="text-2xl font-semibold tracking-tight text-white xl:text-3xl dark:text-white">
          Suscríbete a nuestro newsletter
        </h2>

        <div class="mt-8 lg:mt-0">
            <div class="flex flex-col space-y-3 sm:space-y-0 sm:flex-row sm:-mx-2">
                <input 
                  id="email" 
                  type="text" 
                  class="px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-lg sm:mx-2 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" 
                  placeholder="Correo electronico..."
                />

                <button class="px-6 py-2 text-sm tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg focus:ring focus:ring-blue-300 focus:ring-opacity-80 fo sm:mx-2 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                  Suscribirme
                </button>
            </div>
        </div>
    </div>
</section>

</main>

<Footer />



