:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
    background-size: 224px;
}
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}
.bg-alibabeto-1
{
    background-color: #015bfb;
}
.text-alibabeto-1
{
    color: #015bfb;
}

.swiper-button-next
{
    /* background: red;
    position: absolute;
    z-index: 10000000000;
    top: 50%;
    right: 0;
    transform: translateY(50%); */
}
.swiper-button-prev,
.swiper-button-next
{
    color: #FFF !important; 
    /* background: red;
    position: absolute;
    z-index: 10000000000;
    top: 50%;
  left: 0;
  transform: translateY(-50%); */
}