---
import Container from '../components/Container.astro'
---
<Container background="rgba(36,155,255,.16)" classes='py-14'>
   
    <!-- <h2 class="mx-auto text-5xl text-center mb-10 font-semibold">Categorias</h2> -->

    <section class="item-bento-container grid auto-rows-[350px] grid-cols-1 md:grid-cols-4 gap-4">
    
        <div
          class={`item-bento row-span-1 rounded-xl border-1 relative flex-wrap border-slate-400/10 bg-neutral-100 dark:bg-neutral-900`}
        >
            <div class="content absolute w-full h-full z-10 p-4 flex flex-col justify-end">
                <h2 class="text-3xl font-semibold text-white transition group-hover:text-purple-950 dark:text-white">
                    Audifonos
                </h2>
                <button class="w-full p-2 px-1 text-center font-semibold rounded-md mt-3 transition bg-[#6D172A] text-white shadow-xlsm:w-max max-w-[152px]">
                    Ver Audifonos
                </button>
            </div>
            <img 
                src="/Images/bento/1.png" 
                alt=""
                class="rounded-xl h-full absolute"
            >
        </div>
        <div
          class={`item-bento row-span-1 rounded-xl border-2 border-slate-400/10 bg-neutral-100 relative dark:bg-neutral-900`}
        >
            <div class="content absolute w-full h-full z-10 p-4 flex flex-col justify-end">
                <h2 class="text-3xl font-semibold text-shadow text-white transition group-hover:text-purple-950 dark:text-white">
                    Los mejores smartwatch
                </h2>
                <button class="w-full p-2 px-1 text-center font-semibold rounded-md mt-3 transition bg-white text-[#D6BA55] shadow-xlsm:w-max max-w-[152px]">
                    Ver relojes
                </button>
            </div>
            <img 
                src="/Images/bento/2.png" 
                alt=""
                class="rounded-xl h-full absolute"
            >
        </div>
        <div
          class={`item-bento row-span-1 rounded-xl border-2 border-slate-400/10 bg-neutral-100 relative dark:bg-neutral-900 col-span-2`}
        >
            <div class="content absolute h-full z-10 p-4 flex flex-col justify-end w-3/4">
                <h2 class="text-3xl font-semibold text-shadow text-white transition group-hover:text-purple-950 dark:text-white">
                    Laptops de alta gama
                </h2>
                <p class="dark:text-gray-300 text-white font-semibold mt-2">Las mejores para juegos y trabajo</p>
                <button class="w-full p-2 px-1 text-center font-semibold rounded-md mt-3 transition bg-white text-[#C83D44] shadow-xlsm:w-max max-w-[152px]">
                    Ver relojes
                </button>
            </div>
            <img 
                src="/Images/bento/3.png" 
                alt=""
                class="rounded-xl h-full absolute hover:scale-110"
            >
        </div>
        <div
          class={`item-bento row-span-1 rounded-xl border-2 border-slate-400/10 bg-neutral-100 relative dark:bg-neutral-900 col-span-2`}
        >
            <div class="content absolute h-full z-10 p-4 flex flex-col justify-end w-3/4">
                <h2 class="text-3xl font-semibold text-shadow text-black transition group-hover:text-purple-950 dark:text-white">
                    Laptops de alta gama
                </h2>
                <p class="dark:text-gray-300 text-black font-semibold mt-2">Las mejores para juegos y trabajo</p>
                <button class="w-full p-2 px-1 text-center font-semibold rounded-md mt-3 transition bg-[#6D172A] text-white shadow-xlsm:w-max max-w-[152px]">
                    Ver relojes
                </button>
            </div>
            <img 
                src="/Images/bento/4.png" 
                alt=""
                class="rounded-xl h-full absolute"
            >
        </div>
        <div
          class={`item-bento row-span-1 rounded-xl border-2 border-slate-400/10 bg-neutral-100 relative dark:bg-neutral-900`}
        >
            <div class="content absolute h-full z-10 p-4 flex flex-col justify-end w-3/4">
                <h2 class="text-3xl font-semibold text-shadow text-white transition group-hover:text-purple-950 dark:text-white">
                    Consolas
                </h2>
                <button class="w-full p-2 px-1 text-center font-semibold rounded-md mt-3 transition bg-white text-[#107C10] shadow-xlsm:w-max max-w-[152px]">
                    Ver consolas
                </button>
            </div>
            <img 
                src="/Images/bento/5.png" 
                alt=""
                class="rounded-xl h-full absolute"
            >
        </div>
        <div
          class={`item-bento row-span-1 rounded-xl border-2 border-slate-400/10 bg-neutral-100 relative dark:bg-neutral-900`}
        >
            <div class="content absolute h-full z-10 p-4 flex flex-col justify-end w-3/4">
                <h2 class="text-3xl font-semibold text-shadow text-white transition group-hover:text-purple-950 dark:text-white">
                    Familia Eco
                </h2>
                <button class="w-full p-2 px-1 text-center font-semibold rounded-md mt-3 transition bg-white text-[#147DFD] shadow-xlsm:w-max max-w-[152px]">
                    Ver ecos
                </button>
            </div>
            <img 
                src="/Images/bento/6.png" 
                alt=""
                class="rounded-xl h-full absolute"
            >
        </div>
    
    </section>
</Container>

<style>
    .item-bento
    {
        overflow: hidden;
        position: relative;
    }
    .item-bento::after
    {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.25);
        /* z-index: 100; */
    }
    .item-bento img
    {
        transition: 300ms;
    }
    .item-bento:hover img
    {
        transform: scale(1.2);
        background-color: red;
    }

    @media (width < 480px)
    {
        .item-bento-container 
        {
            grid-auto-rows: 450px;
        }
        .item-bento
        {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .item-bento.col-span-2 > img
        {
            /* height: 279px; */
            object-fit: cover;
        }
        .item-bento > img
        {
            width: 100%;
        }
    }
</style>