---
import RightSideNoAuth from './NavBar/no-auth/RightSideNoAuth.astro'
import RightSide from './NavBar/auth/RightSide.astro'
const user = Astro.locals.user;
---

<nav class="bg-white w-full flex relative justify-between items-center mx-auto h-20">
  <div class="max-w-[1100px] container mx-auto flex items-center justify-between">
    
    <section class="inline-flex">
      <a class="_o6689fn" href="/"
        ><div class="hidden md:flex items-center">
          <img
            src="../../Images/Logo.png"
            class="h-12 w-12 object-cover mr-3"
            alt="Flowbite Logo"
          />
          <p
            style="font-family: Chivo, sans-serif; color: black; transform: skew(-10deg);"
            class="mr-4 font-bold text-lg"
          >
            ALIBABETO
          </p>
        </div>
        <div class="flex items-center md:hidden">
          <svg
            width="30"
            height="32"
            fill="currentcolor"
            style="display: block"
          >
            <img src="Images/Logo.png" class="h-12" alt="Flowbite Logo" />
          </svg>
        </div>
      </a>
    </section>

    <!-- end logo -->
    <!-- search bar -->
    <div class="hidden md:inline-block">
      <div class="inline-flex items-center max-w-full">
        <button
          type="submit"
          class="flex items-center flex-grow-0 flex-shrink pl-2 relative w-96 border rounded-full px-4 py-1 outline-none"
        >
          <input
            type="text"
            placeholder="Buscar un producto"
            class="w-full bg-transparent outline-none placeholder-gray-500 border-0"
            style="text-align: center;"
          />
          <div
            class="flex items-center justify-center absolute right-0 h-10 w-10"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                          display: block;
                          fill: none;
                          height: 16px;
                          width: 16px;
                          stroke: currentcolor;
                          stroke-width: 5.33333;
                          overflow: visible;
                      "
            >
              <g fill="none">
                <path
                  d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9"
                ></path>
              </g>
            </svg>
          </div>
        </button>
      </div>
    </div>
   
    { 
        user
        ?
        <RightSide/>
        : 
        <RightSideNoAuth/>
    }
    

</nav>
