---
import CreateProductoForm from '../../../components/react/productos/CreateProducto'
import LayoutAdmin from "../../../layouts/LayoutAdmin.astro";
---

<LayoutAdmin>
        <!--   tip; mx-auto -- jagab ilusti keskele  -->
        <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            
            <h2 class="text-4xl mb-5 font-semibold">Crear Producto</h2>

            <CreateProductoForm
                client:load
            />
            
        </div>
</LayoutAdmin>
